#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: josemolina # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDSP6A97u+hufWhAq8P9iggYrRJwBKzrYDijDBkKjd8RL2tD+/l4H0y5tfc1tCyCcDJNOgliT8evZ0zXM7eBiQGiZVu2lACGPFgxYmfx9GvVOPqHBMd5xIukD4ZRmxfGh0B2nDddpz+9OWuU6OKd6Mg8s/K36+VhBTLCM9f4IsRMb1aMus1y4+EIcFLV5VvwO7vxLDUFYUlLP+H6WkeCdtSWEBPHEWf0BB3rL6lkDwUsLK4y56m6TkAC3+XyzJzNPCfBYT6EFIPq6hgjEDzKC2gxU7dhx0KKHk/B1czRtMRObzMVTobJsamdqWwA4QLbSOrl3OhS23p6qjRUdZ9RLtytLwymDfIBlG6KzyE8MHJV2QPKpagf16feZXm46YJPybpZm2J8RMi13Val+EWKkw6CyVVlu81YvCM+1e/hmBvNSMv1/bXlxi7YE52J9G6vDhSIGY4F7JaI607j3eihAULebzYx1EOjAvkC3YVdbhz2IRZUQcsVN5wa/G0hRkNY68= josemolina@debian
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false

